/* colors */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto Regular/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto/Roboto Regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Regular/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto Regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto Regular/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto/Roboto Thin/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto/Roboto Thin/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto Thin/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto Thin/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto Thin/Roboto-Thin-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 14px;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif !important;
  background: #f6f6f6;
  overflow-x: hidden !important;
  color: #212121 !important;
  margin: 0px; }

body, html {
  height: 100%; }

body[style*=" "] {
  transform: initial !important;
  -webkit-transform: initial !important;
  position: initial !important; }

:focus {
  outline: 0; }

md-toast {
  position: fixed;
  max-width: 100%;
  bottom: 0px;
  width: 100%; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7); }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.md-fab {
  background-color: #ff9800 !important;
  transition: 0.5s linear;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26); }
  .md-fab i {
    line-height: 16px;
    display: block; }

.md-button {
  min-height: inherit;
  min-width: inherit;
  line-height: normal;
  margin: 0px; }
  .md-button.md-icon-button {
    line-height: initial; }
  .md-button i {
    vertical-align: initial; }

.pi-wrapper {
  position: relative;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all .2s;
  z-index: 10;
  cursor: default; }

.md-button.md-fab {
  z-index: 10;
  width: 44px;
  height: 44px;
  border-radius: 50%; }

/*------------------------------ header.html page styles START -------------------------------- */
.pi-header {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 47px;
  max-height: 47px;
  width: 100%;
  z-index: 101;
  color: #BBDEFB !important;
  background-color: #3f70b5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .pi-header .pi-header-logo {
    margin: 9px 16px;
    height: 28px;
    max-width: 300px;
    min-width: 50px;
    max-height: 28px; }
  .pi-header .pi-menu-icon {
    display: none; }

/*------------------------------- header.html page styles END --------------------------------- */
/*------------------------------ footer.html page styles START -------------------------------- */
.pi-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  background: white;
  color: #acacac;
  z-index: 50;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2) inset; }
  .pi-footer .pi-footer-text {
    font-size: 12px;
    width: 100%; }
    .pi-footer .pi-footer-text .pi-footer-roles-links {
      display: inline-block;
      padding: 14px; }
      .pi-footer .pi-footer-text .pi-footer-roles-links .pi-footer-links > span {
        min-width: 100px;
        border-right: 1px solid #ccc;
        padding: 0px 16px;
        color: #757575; }
        .pi-footer .pi-footer-text .pi-footer-roles-links .pi-footer-links > span.footer-heading {
          border-right-width: 0px;
          color: #3f70b5;
          font-weight: bold; }
      .pi-footer .pi-footer-text .pi-footer-roles-links .pi-footer-links span:last-child {
        border-right-width: 0px; }
    .pi-footer .pi-footer-text .pi-footer-copyright {
      display: inline-block;
      padding-right: 32px;
      padding-top: 14px;
      float: right; }
  .pi-footer img {
    padding: 8px;
    padding-right: 16px; }

/*------------------------------ footer.html page styles END -------------------------------- */
/*------------------------------- PI Wrapper STYLES START----------------------------------------*/
.pi-view-container {
  padding-top: 47px;
  padding-bottom: 44px;
  box-sizing: border-box; }

.pi-sub-header {
  height: 44px;
  background-color: #336699;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); }
  .pi-sub-header .name {
    padding: 12px;
    display: inline-block;
    color: #BBDEFB; }
  .pi-sub-header span {
    color: #BBDEFB; }
  .pi-sub-header .divider {
    margin: 12px;
    display: inline-block;
    border-left: 1px solid #BBDEFB; }

.charts-section > div {
  height: 250px;
  box-sizing: border-box;
  position: relative; }
.charts-section .chart-name {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 8px; }

.selection {
  margin: 0px;
  margin-left: 16px; }
  .selection .md-select-label {
    padding-top: 0px;
    height: 32px;
    border-bottom: 1px solid #ff9800; }

.options[selected="selected"] .md-text {
  color: #ff9800 !important; }

.options {
  height: 38px; }

/*------------------------------- PI Wrapper STYLES END----------------------------------------*/
/*--------------------------Brush Styles --------------------------------*/
.selecting .bar {
  fill-opacity: .4; }

.selecting .bubble {
  fill-opacity: .4; }

.selecting .outerBar .selected {
  fill-opacity: 1; }

.selecting .group .selected {
  fill-opacity: 1; }

.selecting .selected {
  fill-opacity: 1; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.tipsy {
  opacity: 1 !important; }

.tipsy-inner {
  background-color: #FFF !important;
  color: #000 !important;
  max-width: 150px !important;
  text-align: center !important;
  padding: 0;
  border-radius: 10px; }

.tipsy-arrow {
  display: none !important; }

/*--------------------------Brush Styles --------------------------------*/

/*# sourceMappingURL=pi-styles.css.map */
